<%= form_for @subject, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :subject, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :subject, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :from, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :from, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :priority, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :priority, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :to, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :to, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  subjects_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
