<%- model_class = Subject -%>
<div class="page-header">
  <h1><%=t '.title', :default => Subject %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:subject) %></dt>
      <dd><pre class="prettyprint"><%= @subject.subject %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:from) %></dt>
      <dd><pre class="prettyprint"><%= @subject.from %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:priority) %></dt>
      <dd><pre class="prettyprint"><%= @subject.priority %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:to) %></dt>
      <dd><pre class="prettyprint"><%= @subject.to %></pre></dd>
  </dl>
</div>
<% model_class.messages.each do |a| %>
<div class="fieldset">
  <dl>
    <dt class="label label-default">Message Body</dt>
    <dd><pre class="prettyprint"><%= a.body rescue "none" %></pre></dd>
  </dl>
  <dl>
    <dt class="label label-default">Message date</dt>
    <dd><pre class="prettyprint"><%= a.created_at rescue "none" %></pre></dd>
  </dl>
</div>
<% end >

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              subjects_path, :class => 'btn btn-default'  %>
</div>

